#psycopg2  -> needs postgresql-devel on CentOS

# not tested yet with django 1.6
Django>=1.5.4
django-admin-tools>=0.5.1
django-debug-toolbar>=0.9.4
django-reversion>=1.7.1
django-tinymce>=1.5.1
psycopg2>=2.5.1
Unipath>=1.0
wsgiref>=0.1.2