{% extends "base.html" %}

{% load i18n %}

{% block content %}
<section>
  <hgroup>
    <h1>{% trans "Sign in" %}</h1>
  </hgroup>

  <div class="left block">
    <h2>{% trans "Local sign in" %}</h2>
    <form id="sing-in-from" action="." method="post">{% csrf_token %}
      <fieldset>
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}" />
      </fieldset>
      <fieldset class="actionRow">
        <input class="button" type="submit" value="{% trans "Local sign in" %}" />
      </fieldset>
    </form>

    <p>
      <a href="{% url auth_password_reset %}">{% trans "Forgot Password?" %}</a>
    </p>
  </div>

  {% if SAML_ENABLED %}
  {% load idplist mailtoadmins %}

  <div class="right block">
    <h2>{% trans "Federated sign in" %}</h2>
    <form id="federated-login" action="{% url saml2_login %}" method="get">{% csrf_token %}
      {% idplist as idps %}
      {% if idps|length_is:"0" %}
      <p>{% trans "There are no IdPs configured, please check the configuration" %}</p>
      {% elif idps|length_is:"1" %}
      <input type="hidden" name="idp" value="{{ idps.keys.0 }}" />
      <fieldset class="actionRow">
        <input class="button" type="submit" value="{% blocktrans %}{{ SAML_ONE_IDP_SIGN_IN_BUTTON }}{% endblocktrans %}" />
      </fieldset>
      {% else %}
      <fieldset>
        <p>
          <label for="id_idp">{% trans "Identity Provider" %}:</label>
          <select id="id_idp" name="idp">
            {% for url, name in idps.items %}
            <option value="{{ url }}">{% if name %}{{ name }}{% else %}{{ url }}{% endif %}</option>
            {% endfor %}
          </select>
        </p>
        <p>{% trans "Don't see your IdP in this list?" %} {% mailtoadmins %}</p>
      </fieldset>
      <fieldset class="actionRow">
        <input class="button" type="submit" value="{% blocktrans %}{{ SAML_SEVERAL_IDPS_SIGN_IN_BUTTON }}{% endblocktrans %}" />
      </fieldset>
      {% endif %}
    </form>
  </div>

  {% endif %}

  {% if REMOTE_USER_ENABLED %}

  <div class="right block">
    <h2>{% trans "Remote User sign in" %}</h2>
    <form action="{% url remote_user_login %}" method="get">
      <fieldset>
        <p>{% trans "Sign in using your web server REMOTE_USER header" %}</p>
      </fieldset>
      <fieldset class="actionRow">
        <input type="submit" value="{% trans "Remote User Sign in" %}" class="button" />
      </fieldset>
    </form>
  </div>

  {% endif %}

</section>
{% endblock %}
