{% extends "base.html" %}

{% load i18n %}

{% block content %}
<section>
  <hgroup>
    <h1>{% trans "Password reset" %}</h1>
  </hgroup>

  <form action="." method="post">{% csrf_token %}
    {{ form.email.errors }}
    <p>
      <label for="id_email">
        {% trans 'E-mail address:' %}
      </label>
      {{ form.email }}
      <input type="submit" value="{% trans 'Reset my password' %}" />
    </p>
  </form>

  <p>
    {% blocktrans %}
      Please enter the email address in your personal information. We'll
      send you an email with a link where you can reset your password.
      If you don't remember your email address, you need to contact the
      PEER system administrator.
    {% endblocktrans %}
  </p>
</section>
{% endblock %}
