{% extends "base.html" %}

{% load i18n %}

{% block extracss %}
{{ form.media.render_css|safeseq|join:"\n" }}
{% endblock %}

{% block content %}
<section>
  <hgroup>
    <h1>{% trans "User registration" %}</h1>
  </hgroup>

  <p>{% trans "Please enter your personal information to register in PEER. An email will be sent to activate your account." %}</p>

  <div class="block left">
    <form id="sing-up-from" action="." method="post">{% csrf_token %}
      <fieldset>
        {{ form.as_p }}
      </fieldset>
      <fieldset class="actionRow">
        <input class="button" type="submit" value="{% trans "Register" %}" />
      </fieldset>
    </form>
  </div>

  <div class="block right">
    <p>
      {% trans "Did you know that you can skip this process by using the Federated Sign In option of the" %}
     <a href="{% url auth_login %}">{% trans "Sign In" %}</a>?
     {% trans "page. If your Identity Provider is already registered with this PEER instance, this is the recommended method of signing in." %}
    </p>
  </div>

</section>

{% endblock %}

{% block extrajs %}
{{ form.media.render_js|safeseq|join:"\n" }}
{% endblock %}
